<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="lecture">
	<!-- 강의 등록 -->
	<insert id="insert">
		insert into lectures(no, lecture, lecturer, hours, fee)
		values(lectures_seq.nextval, #{lecture}, #{lecturer}, #{hours}, #{fee})
	</insert>
	
	<!-- 강의 목록 -->
	<sql id="topNHeader">
		select * from (
			select TMP.*, rownum RN from (
	</sql>
	<sql id="topNFooter">
			)TMP	
		) where RN between #{first} and #{last}
	</sql>
	
	<select id="selectList" resultType="LecturesDto">
		<include refid="topNHeader"/>
			select * from lectures
				<where>
					<if test="column != null and keyword != null">
						and instr(${column}, #{keyword}) > 0
					</if>
				</where>
			order by no desc
		<include refid="topNFooter"/>
	</select>
	
	<!-- 강의 상세 -->
	<select id="selectOne" resultType="LecturesDto">
		select * from lectures where no = #{no}
	</select>
	
	<!-- 강의 수정 -->
	<update id="edit">
		update lectures set lecture=#{lecture}, lecturer=#{lecturer}, hours=#{hours}, fee=#{fee}
		where no=#{no}
	</update>
</mapper>
    