<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <!-- font awsome 아이콘 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- tabler 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <style>
        .fullscreen > .fullscreen-container {
            width: 600px;
        }
    </style>
    <title>강의 관리</title>
</head>
<body>
    <div id="app">
        <div class="container-800">
            <div class="row">
                <h1>강의 관리</h1>
            </div>

            <!-- 등록버튼, 검색창 -->
	        <div class="row" style="display: flex;">
                <!-- 등록버튼 -->
                <div class="w-25 pb-20">
                    <button type="button" class="form-btn small positive" id="insertBtn" @click="insertModal = true">등록하기</button>
                </div>
	            <!-- 검색창 -->
	            <div class="right w-75 pb-20">
	                <!-- 카테고리 -->
                    <select class="form-input small w-15 me-5" v-model="column">
                        <option value="lecture">강의명</option>
                        <option value="lecturer">강사명</option>
                    </select>
	                <!-- 검색창 -->
	                <input class="form-input small w-30 me-5" type="text" placeholder="검색어를 입력하세요." 
                            v-model="keyword" @input="keyword = $event.target.value" @keyup.enter="searchList">
	                <!-- 검색버튼 -->
	                <button class="form-btn small positive w-10" type="submit" @click="searchList">검색</button>
	            </div>
	        </div>

            <div class="row">
                <table class="table table-row w-100">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>강의명</th>
                            <th>강사명</th>
                            <th>수강료</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody class="center">
                        <tr v-for="(lectures, index) in lecturesList" :key="lectures.no">
                            <td>{{lecturesList[index].no}}</td>
                            <td>
                                <a @click="openDetailModal(index)" class="link">{{lecturesList[index].lecture}}</a>
                            </td>
                            <td>{{lecturesList[index].lecturer}}</td>
                            <td class="right">{{lecturesList[index].fee}}</td>
                            <td>
                                <a class="link" @click="deleteLecture(index)"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 강의 등록 모달 -->
            <div class="fullscreen" v-if="insertModal">
                <div class="fullscreen-container">
                    <div class="row">
                        <h2>강의 등록하기</h2>
                    </div>
                    <div class="row">
                        <input hidden="hidden" v-model="lectures.no">
                        <label>강의명</label>
                        <input type="text" class="form-input medium w-100" v-model="lectures.lecture"
                                @input="lectures.lecture = $event.target.value">
                        <span v-if="lectures.lecture.length > 0">{{lectures.lectureMessage}}</span>
                    </div>
                    <div class="row">
                        <label>강사명</label>
                        <input type="text" class="form-input medium w-100"  v-model="lectures.lecturer"
                                @input="lectures.lecturer = $event.target.value">
                        <span v-if="lectures.lecturer.length > 0">{{lectures.lecturerMessage}}</span>
                    </div>
                    <div class="row">
                        <label>시수</label>
                        <input type="text" class="form-input medium w-100"  v-model="lectures.hours">
                        <span v-if="lectures.hours.length > 0">{{lectures.hoursMessage}}</span>
                    </div>
                    <div class="row pb-30">
                        <label>수강료</label>
                        <input type="text" class="form-input medium w-100"  v-model="lectures.fee">
                        <span v-if="lectures.fee.length > 0">{{lectures.feeMessage}}</span>
                    </div>
                    <div class="row">
                        <button type="submit" class="form-btn positive medium w-100 mb-10" @click="insert" :disabled="!lectures.allValid">
                            등록
                        </button>
                        <button type="submit" class="form-btn neutral medium w-100" @click="insertModal = false">
                            닫기
                        </button>
                    </div>
                </div>
            </div>

            <!-- 강의 상세/수정 모달 -->
            <div class="fullscreen" v-if="detailMode">
                <div class="fullscreen-container">
                    <!-- 강의 정보 수정 -->
                    <div v-if="editMode == true">
                        <div class="row pb-30">
                            <h2>강의 상세정보</h2>
                        </div>
                        <div class="row pb-20">
                            <input hidden="hidden" v-model="lectures.no">
                            <label>강의명</label>
                            <div>
                                <input v-model="detailModal.lecture" class="form-input medium w-100">
                            </div>
                        </div>
                        <div class="row pb-20">
                            <label>강사명</label>
                            <div>
                                <input v-model="detailModal.lecturer" class="form-input medium w-100">
                            </div>
                        </div>
                        <div class="row pb-20">
                            <label>시수</label>
                            <div>
                                <input v-model="detailModal.hours" class="form-input medium w-100">
                            </div>
                        </div>
                        <div class="row pb-30">
                            <label>수강료</label>
                            <div>
                                <input v-model="detailModal.fee" class="form-input medium w-100">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="form-btn positive medium w-100" @click="edit">
                                수정
                            </button>
                        </div>
                        <div class="row">
                            <button type="submit" class="form-btn neutral medium w-100" @click="cancelEidt">
                                취소
                            </button>
                        </div>
                    </div>
                    <!-- 강의 상세정보 -->
                    <div v-else>
                        <div class="row pb-30">
                            <h2>강의 상세정보</h2>
                        </div>
                        <div class="row pb-20">
                            <input hidden="hidden" v-model="lectures.no">
                            <label>강의명</label>
                            <div class="row">
                                <h3>{{detailModal.lecture}}</h3>
                            </div>
                        </div>
                        <div class="row pb-20">
                            <label>강사명</label>
                            <div class="row">
                                <h3>{{detailModal.lecturer}}</h3>
                            </div>
                        </div>
                        <div class="row pb-20">
                            <label>시수</label>
                            <div class="row">
                                <h3>{{detailModal.hours}}</h3>
                            </div>
                        </div>
                        <div class="row pb-30">
                            <label>수강료</label>
                            <div class="row">
                                <h3>{{detailModal.fee}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="form-btn positive medium w-100" @click="editMode = true">
                                수정
                            </button>
                        </div>
                        <div class="row">
                            <button type="submit" class="form-btn neutral medium w-100" @click="detailMode = false">
                                닫기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
    </div>

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Vue cdn -->
    <script src="https://unpkg.com/vue@3.2.36"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- lodash cdn -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    lectures: {
                        no:"",
                        lecture:"",
                        lecturer:"",
                        hours:"",
                        fee:"",

                        // 유효성 검사
                        get lectureValid() {
                            return this.lecture.length > 0 && this.lecture.length <= 10;
                        },
                        get lecturerValid() {
                            const regex = /^[가-힣]{2,7}$/;
                            return regex.test(this.lecturer);
                        },
                        get hoursValid() {
                            const hours = parseInt(this.hours);
                            return hours > 0 && hours % 30 == 0;
                        },
                        get feeValid() {
                            const fee = parseInt(this.fee);
                            return fee >= 0;
                        },
                        get allValid() {
                            return this.lectureValid
                                && this.lecturerValid
                                && this.hoursValid
                                && this.feeValid
                        },

                        // 검사 메세지 출력
                        get lectureMessage() {
                            if(!this.lectureValid) return "강의명은 10자 이내로 작성해주세요.";
                        },
                        get lecturerMessage() {
                            if(!this.lecturerValid) return "강사명은 한글 7자 이내로 작성해주세요.";
                        },
                        get hoursMessage() {
                            if(!this.hoursValid) return "시수는 30의 배수입니다.";
                        },
                        get feeMessage() {
                            if(!this.feeValid) return "0 이상의 숫자만 입력해주세요.";
                        },

                        // 등록 후 입력창 지우기
                        clearInput() {
                            this.no = "",
                            this.lecture = "",
                            this.lecturer = "",
                            this.hours = "",
                            this.fee = ""
                        }
                    },

                    insertModal: false,

                    lecturesList:[],
                    lecturesListBackup:[],
                    percent: 0,
                    page: 0,
                    loading: false,
                    loadFinish: false,

                    column: "",
                    keyword: "",

                    detailMode: false,
                    detailModal: {
                        lecture: '',
                        lecturer: '',
                        hours: '',
                        fee: ''
                    },
                    editMode: false,
                    editModal: {
                        lecture: '',
                        lecturer: '',
                        hours: '',
                        fee: ''
                    }
                };
            },
            methods: {
                async insert() {
                    const url = "http://localhost:8080/lectures/";
                    const resp = await axios.post(url, this.lectures);
                    this.lectures.clearInput();
                    this.insertModal = false;
                    // 토스트 메세지 띄우기
                    Toastify({
                        text: "등록이 완료되었습니다.",
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "bottom", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            background: "linear-gradient(to right, #00b09b, #96c93d)",
                        },
                        onClick: function(){} // Callback after click
                    }).showToast();
                    this.clearList();
                    this.page = 0;
                    this.loadList();
                },
                clearList() {
                    this.lecturesList.splice(0);
                    this.lecturesListBackup.splice(0);
                },
                async loadList() {
                    if(this.loading == true) return;
                    if(this.loadFinish == true) return;
                    this.loading = true;
                    const url = `http://localhost:8080/lectures/page/${this.page+1}`;
                    const resp = await axios.get(url);
                    const copy = _.cloneDeep(resp.data);
                    this.lecturesList.push(...resp.data);
                    this.lecturesListBackup.push(...copy);
                    this.page++
                    this.loading = false;
                    if(resp.data.length < 10) this.loadFinish = true;
                },
                async searchList() {
                    this.clearList();
                    this.page = 0;
                    if(this.loading == true) return;
                    if(this.loadFinish == true) return;
                    this.loading = true;
                    const column = this.column;
                    const keyword = this.keyword;
                    const url = `http://localhost:8080/lectures/page/${this.page+1}?column=${column}&keyword=${keyword}`;
                    const resp = await axios.post(url);
                    this.lecturesList.push(...resp.data);
                    this.page++;
                    this.loading = false;
                    if(resp.data.length < 10) this.loadFinish = true;
                },
                async detail() {
                    const no = this.no;
                    const url = "http://localhost:8080/lectures/" + no;
                    const resp = await axios.get(url);
                },
                openDetailModal(index) {
                    this.currentIndex = index;
                    this.detailMode = true;
                    this.detailModal = this.lecturesList[index];
                    this.editModal = this.lecturesListBackup[index];
                },
                async edit() {
                    const url = "http://localhost:8080/lectures/";
                    const data = this.detailModal;
                    const resp = await axios.put(url, data);
                    this.clearList();
                    this.page = 0;
                    this.loadList();
                    this.editMode = false;
                    this.detailMode = false;
                },
                cancelEidt() {
                    this.detailModal = this.editModal;
                    this.clearList();
                    this.page = 0;
                    this.loadList();
                    this.editMode = false;
                },
                async deleteLecture(index) {
                    const check = confirm("정말 삭제하시겠습니까?");
                    if(!check) return;
                    const no = this.lecturesList[index].no;
                    const url = "http://localhost:8080/lectures/" + no;
                    const resp = await axios.delete(url);
                    this.clearList();
                    this.page = 0;
                    this.loadList();
                }
            },
            watch: {
                percent() {
                    if(this.percent >= 70) {
                        this.loadList();
                    }
                },
            },
            mounted() {
                window.addEventListener("scroll", _.throttle(() => {
                    // clientHeight: 전체 페이지의 높이
                    // innerHeight: 브라우저의 높이(화면 높이)
                    // scrollY: 현재 스크롤의 위치
                    const height = document.body.clientHeight - window.innerHeight;
                    const current = window.scrollY;
                    const percent = (current / height) * 100;
                    this.percent = Math.round(percent);
                }, 250))
            },
            created() {
                this.loadList();
            }
        }).mount("#app");
    </script>
</body>
</html>